/* (c) SynergyBest | https://synergybest.dev */

@font-face {
    font-family: 'Circular';
    src: url('/fonts/Circular-Std-Book.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/Circular-Std-Medium.woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/Circular-Std-Bold.woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/Circular-Std-Bold-Italic.woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/Circular-Std-Black.woff2');
    font-weight: 700;
    font-style: normal;
}

:root {
  --accent:  #f8f8ff;
} 

body {
   
} 

main {
    font-family: 'Circular';
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

#pfp {
  
}  
