/* (c) SynergyBest | synergybest.dev */

@font-face {
  font-family: 'Circular';
  src: url('/assets/fonts/Circular-Std-Book.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('/assets/fonts/Circular-Std-Medium.woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('/assets/fonts/Circular-Std-Bold.woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url('/assets/fonts/Circular-Std-Bold-Italic.woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Circular';
  src: url('/assets/fonts/Circular-Std-Black.woff2');
  font-weight: 700;
  font-style: normal;
}

:root {
  --accent: #ffffff;
  --darker: #f8f8ff;
} 

html, body {
    background: #000000;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
}

main {
    font-family: circular;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

#pic {
    width: 160px;
    height: 160px;
    background: url(../images/avatar.jpg);
    background-position: center;
    border-radius: 160px;
    border: 2px solid var(--accent);
    margin: 0 auto;
}

h1 {
    margin: 0;
    margin-right: -15px;
    letter-spacing: 3px;
    font-size: 46px;
    color: var(--accent);
}

h2 {
    margin: 0;
    margin-right: -15px;
    text-transform: lowercase;
    letter-spacing: 3px;
    font-size: 32px;
    color: var(--accent);
    margin-bottom: 20px
}

#socials {
    margin: 0 auto;
}

#socials a {
    font-size: 28px;
    color: var(--darker);
    text-decoration: none;
    margin: 5px 12px;
    display: inline-block;
    vertical-align: top;
    transition: 0.2s all ease-in-out;
}

#socials a:hover {
    color: var(--accent);
    transform: scale(1.2);
}

.tippy-box[data-theme~='font'] {
   background-color: #000000;
   font-weight: 600;
   font-family: 'Circular';
}

canvas {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    pointer-events: none;
}
